[class*="col-"] { /* alle Spalten sollen nach lin */

    box-sizing: border-box; /* die border wird teil */
    float: left;
    padding: 15px;
    border: 1px solid blue;
    width: 100%;
}
@media only screen and (min-width: 786px){
    [class*="col-"] { /* alle Spalten sollen nach lin */
        width: 50%;
    }
}
@media only screen and (min-width: 1023px){
    .col-1 {width: 8.33%;} /* 1 Spalte */
    .col-2 {width: 16.66%;} /* 2 Spalte */
    .co1-3 {width: 25%;} /* 3 Spalte */
    .col-4 {width: 33.33%;} /* 4 Spalte */
    .col-5 {width: 41.66%;} /* 5 Spalte */
    .col-6 {width: 50%;} /* 6 Spalte */
    .col-7 {width: 58.33%;} /* 7 Spalte */
    .col-8 {width: 66.66%;} /* 8 Spalte */
    .col-9 {width: 75%;} /* 9 Spalte */
    .col-10 {width: 83.33%;} /* 10 Spalte */
    .col-11 {width: 91.66%;} /* 11 Spalte */
    .col-12 {width: 100%;} /* 12 Spalte */
}
